{%- liquid
  assign max_width = max_width | default: 1920
  assign mobile_img = mobile_img | default: img
  assign max_width_size = max_width | append: 'x'

  assign img_placeholder = img | img_url: '1x1'
  assign img_srcset = img_placeholder | replace: '_1x1.', '_{width}x.'
  assign img_ratio = 1.00 | divided_by: img.aspect_ratio | times: 100

  assign mobile_placeholder = mobile_img | img_url: '1x1'
  assign mobile_srcset = mobile_placeholder | replace: '_1x1.', '_{width}x.'
  assign mobile_ratio = 1.00 | divided_by: mobile_img.aspect_ratio | times: 100

  assign lazy = lazy | default: true, allow_false: true
  assign placeholder = placeholder | default: '#D6981E'
  
  case placeholder
    when 'image'
      assign placeholder_image = img | img_url: '16x'
    else
      assign placeholder_color = placeholder
  endcase
-%}

{% comment %} theme-check-disable ImgLazyLoading,RemoteAsset {% endcomment %}
<div style="--desktop-ratio: {{ img_ratio }}%; --mobile-ratio: {{ mobile_ratio }}%; background-color: {{- placeholder_color -}}" class="relative w-full overflow-hidden pt-[var(--mobile-ratio)] md:pt-[var(--desktop-ratio)]">
  <img
    src="{{- placeholder_image | default: mobile_placeholder -}}"
    {% if lazy %}data-{% endif %}src="{{- mobile_placeholder -}}"
    data-mobile="{{- mobile_srcset -}}"
    data-initial="{{- img_srcset -}}"
    data-max-width="{{- max_width -}}"
    sizes="50vw"
    class="{{- class -}} absolute inset-0 w-full h-full object-cover {% if placeholder_image %}blur-xl loaded:blur-0{% else %}invisible loaded:visible{% endif %}"
    alt="{{- img.alt -}}"
    width="{{- mobile_img.width -}}"
    height="{{- mobile_img.height -}}"
    {% unless lazy %}loading="eager"{% endunless %}
  >
</div>
{% comment %} theme-check-enable ImgLazyLoading,RemoteAsset {% endcomment %}