{%- liquid
  assign max_width = max_width | default: 1920
  assign desktop_img = desktop_img | default: img

  assign img_placeholder = img | img_url: '1x1'
  assign img_srcset = img_placeholder | replace: '_1x1.', '_{width}x.'
  assign img_ratio = 1.00 | divided_by: img.aspect_ratio | times: 100

  assign desktop_placeholder = desktop_img | img_url: '1x1'
  assign desktop_srcset = desktop_placeholder | replace: '_1x1.', '_{width}x.'
  assign desktop_ratio = 1.00 | divided_by: desktop_img.aspect_ratio | times: 100

  assign lazy = lazy | default: true, allow_false: true
  
  case placeholder
    when 'image'
      assign placeholder_image = img | img_url: '16x'
  endcase
-%}

{% comment %} theme-check-disable ImgLazyLoading,RemoteAsset {% endcomment %}
<div style="--mobile-ratio: {{ aspect_ratio | default: img_ratio }}%; --desktop-ratio: {{ aspect_ratio | default: desktop_ratio }}%;" class="{{- class }} relative w-full overflow-hidden pt-[var(--mobile-ratio)] md:pt-[var(--desktop-ratio)]">
  <img
    src="{{- placeholder_image | default: img_placeholder -}}"
    {% if lazy %}data-{% endif %}src="{{- img_placeholder -}}"
    data-initial="{{- img_srcset -}}"
    data-desktop="{{- desktop_srcset -}}"
    data-max-width="{{- max_width -}}"
    sizes="50vw"
    class="{{- img_class }} peer absolute inset-0 w-full h-full {% if placeholder_image %}blur-xl loaded:blur-0{% else %}invisible loaded:visible{% endif %}"
    alt="{{- alt | default: img.alt | default: shop.name -}}"
    width="{{- img.width -}}"
    height="{{- img.height -}}"
    {% unless lazy %}loading="{{- loading | default: 'lazy' -}}"{% endunless %}
  >
  {%- unless placeholder_image -%}
    <div class="absolute inset-0 z-[-1] w-full h-full bg-primary peer-loaded:hidden"></div>
  {%- endunless -%}
</div>
{% comment %} theme-check-enable ImgLazyLoading,RemoteAsset {% endcomment %}