  
{%- capture uid -%}
select{{name | default: label}}
{%- endcapture -%}

{%- capture cx -%}
select-wrapper x rel {{ className }}
{%- endcapture -%}

<div class='{{ cx }}' style='{{ style }}'>
  <label for='{{ id | default: uid | strip }}' class='hide'>{{ label }}</label>

  <div class='rel'>
    <select
      id='{{ id | default: uid | strip }}'
      name='{{ name | default: label | strip }}'
      value='{{ value }}'
      {{ attributes }}
      {% if required %}required{% endif %}>
      {% if placeholder %}<option disabled selected>{{ placeholder }}</option>{% endif %}
      {{ options }}
    </select>
  </div>
</div>