{%- capture default_label -%}
  {{- product.id -}}-{{- option.name -}}-{{- value | escape -}}
{%- endcapture -%}

<div class="{{ class }}">
  <input
    id="{{ label | default: default_label }}"
    type="radio"
    name="{{- name -}}"
    {% unless available %}
      disabled
    {% endunless %}
    value="{{- value -}}"
    {{ attributes }}
    {% if checked %}checked{% endif %}
  />
  <label class="{% unless available %} disabled {% endunless %} {{ ISO }}" for="{{ label | default: default_label }}">
    {{- label -}}
  </label>
</div>