{%- liquid
  assign string_item = 'cart.general.item' | t
  assign string_items = 'cart.general.items' | t
-%}

<section class="px-6 md:px-16 py-6 md:py-20">
  <div class="flex justify-between items-center pb-6 border-b border-gray-100 mb-6 md:hidden">
    <h1 class="font-bold text-2xl text-center">{{- 'cart.general.title' | t -}}</h1>
    <a href="{{- collections.all.url -}}" class="text-second font-semibold">{{- 'cart.general.continue_shopping' | t -}}</a>
  </div>

  <form action="{{- routes.cart_url -}}" method="post" class="flex flex-col md:flex-row md:items-start gap-0 md:gap-16">
    <div class="flex-1 flex flex-col">
      {%- for item in cart.items -%}
        <div href="{{- item.url -}}" class="flex items-start gap-6 border-b first:pt-0 border-gray-100 py-6">
          <div class="w-20">
            {% render 'component.image', img: item.image, aspect_ratio: 100, img_class: 'object-contain', placeholder: 'image' %}
          </div>
          <div class="flex-1 flex flex-wrap justify-between items-end md:items-center my-auto">
            <div class="w-full md:w-6/12">
              <h6 class="text-md font-semibold">{{- item.product.title -}}</h6>
              <p class="text-s text-gray-600">{{- item.variant.title -}}</p>
            </div>
            <div class="mt-6 md:my-0">
              <div class="flex items-center relative">
                <a href="{{- routes.cart_change_url -}}?line={{- forloop.index -}}&quantity={{- item.quantity | minus: 1 -}}" class="border border-gray-200 w-6 h-6 align-middle text-center border-r-0 hover:opacity-60">-</a>
                <span class="border border-gray-200 w-auto h-6 align-middle text-center px-2">{{- item.quantity -}}</span>
                <a href="{{- routes.cart_change_url -}}?line={{- forloop.index -}}&quantity={{- item.quantity | plus: 1 -}}" class="border border-gray-200 w-6 h-6 align-middle text-center border-l-0 hover:opacity-60">+</a>
              </div>
            </div>
            <a href="{{- routes.cart_change_url -}}?line={{- forloop.index -}}&quantity=0" class="font-semibold">{{- 'cart.product_item.remove' | t -}}</a>
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="sticky top-auto bottom-0 md:top-6 md:w-1/3 bg-white py-6 md:py-0 text-center">
      <div class="hidden md:flex flex-wrap justify-between w-full mb-8 border-b border-gray-100 pb-6">
        <p class="text-xl font-semibold">{{- 'cart.general.title' | t -}}</p>
        <p class="text-s text-gray-600">{{ cart.item_count }} {{ cart.item_count | pluralize: string_item, string_items }}</p>
      </div>
      {% comment %} theme-check-disable SpaceInsideBraces {% endcomment %}
      {%-
        render 'component.button',
        type: 'submit'
        name: 'checkout',
        text: 'cart.general.checkout',
        class: 'md:!w-full'
      -%}
      {% comment %} theme-check-enable SpaceInsideBraces {% endcomment %}
      <a href="{{- collections.all.url -}}" class="text-gray-800 font-semibold mt-4 hidden md:block">{{- 'cart.general.continue_shopping' | t -}}</a>
    </div>
  </form>

</section>